body{
    font-family: system-ui;
    margin: 0;
}
header {
    position: relative;
    border-bottom: .1vw solid white;
}
.banner{
    width: 100%;
    height: 26vw;
    position: relative;
    top: 0;
    left: 0;
}
.logo{
    position: absolute;
    width: 15%;
    top: 55%;
    left: 1%; 
    border: .5vw solid white;
}
main {
    position: relative;
}
.background{
    z-index: -1;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.row{
    width:100%;
    position: absolute;
    display:table-cell;
    top: 5vw;
    vertical-align: middle;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column{
    position: relative;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;  
}
ul{
    
    vertical-align: middle;
    margin-left: 10%;
    list-style-type: none;
}
li {
    
    vertical-align: middle;
    width: 90%;
    text-align: left;
    font-size: 5vw;
    margin: 1.5vw;
    margin-left: 0;
    padding: 2vw;
    padding-right: 0;
    border: .3vw solid black;
    border-radius: 1vw;
}
li:hover{
    
    vertical-align: middle;
    width: 90%;
    text-align: left;
    font-size: 5vw;
    margin: 1.5vw;
    margin-left: 0;
    padding-right: 0;
    padding: 3vw;
    border: .3vw solid black;
    border-radius: 1vw;
}
.ireland{
    background-color: #00643e;
    color: white;
}
.wales{
    background-color: #cf1307;
    color: white;
}
.scotland{
    background-color: #014983;
    color: white;
}
.england{
    background-color: white;
    color: black;
    
}
.france{
    background-color: #023577;
    color: white;
}
.italy{
    background-color: #2171c6;
    color: white;
}
.teamlogo{
    padding-top: 2vw;
    position: relative;
    width: 8vw;
    height: 8vw;
}
a:link, a:visited{
    color: inherit;
   text-decoration: none;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: .15vw solid white;
    background-color: black;
}
footer p{
    text-align: center;
    color: white;
}
footer a{
    padding: .5%;
    border-radius: 1vw;
    text-align: right;
    border-top: .15vw solid beige;
    background-color: beige;
}
footer a:hover{
    font-size: 3vw;
}