
body{
    font-family: system-ui;
    margin: 0;
}

header {
    position: relative;
   
}
.banner{
    width: 100%;
    height: 26vw;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: .15vw solid white;
    object-fit: cover;
    z-index: 400;
}
.logo{
    position: absolute;
    width: 15%;
    top: 55%;
    left: 1%;
    border: .15vw solid white;
    background-size: cover;
    z-index: 450;
}



main{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
}
aside{
    z-index: 800;
    position: relative;
    float: left;
    left: 0;
    width: 16.15%;
    border-right: .15vw solid white;
    height: 100%;
}
ul{
    z-index: 850;
    position: relative;
    width: 100%;
    left: 0;
    margin: 0;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 0;
    background: none;
    list-style: none;
    font-size: 3vw;
    text-align: center;  
}
li{
    z-index: 900;
    background: none;
    left: 0;  
}
a:link{
    z-index: 950;
    left: 0;
    color: white;
    text-decoration: none;
}
a:visited{
    z-index: 950;
    left: 0;
    color: white;
    text-decoration: none;
}
a:hover{
    z-index: 950;
    left: 0;
    font-size: 3.3vw;
}

.map{
    position: relative;
    width: 100%;
    min-height: 20vw;
    height:auto;
}
h6{
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
}
section{
    z-index: 500;
    margin-left: 0;
    width: 80%;
    padding-left: 20%;
    position: relative;
    text-align: left;
}


table{
    width: 100%;
    left:16.2%;
}
caption{
    position: relative;
    width: 100%;
    border: .15vw solid white;
    text-align: center;
}
tbody{
    position: relative;
    border: .15vw solid white;
}
td{
    position: relative;
    margin-top: 0;
    border-right: .15vw solid white;
    text-align: center;
}
th{
    position: relative;
    margin-top: 0;
    border-right: .15vw solid white;
    text-align: center;
}

.row{
    padding: 0;
    width: 100%;
}
.column {
    padding: 0;
    float: left;
    width: 16.6%;
    text-align: left;
}
.row:after {
    left: 0;
    content: "";
    display: table;
    clear: both;
}
.videoContent
{
    text-align: center;
    width: 100%;
    padding: 0;
    left: 0;
    margin-right: 0;
    height: 100%;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: .15vw solid white;
    background-color: black;
}
footer p{
    text-align: center;
}
footer a{
    padding: .5%;
    border-radius: 1vw;
    text-align: right;
    border-top: .15vw solid beige;
    background-color: beige;
}



